@use "../../atlas-ui-tokens/src/styles/atlas-tokens.scss";
@use "../../atlas-ui-tokens/src/styles/scale.scss" as *;
@use "sass:map";

@import "intl-tel-input/build/css/intlTelInput.css";
@import url('@phosphor-icons/web/regular');


html, body {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: var(--atlas-fs-20);
  color: var(--atlas-color-text);
  background: var(--atlas-color-bg);
  line-height: var(--atlas-lh-normal);
  font-family: map.get($atlas-typography, font-sans);
}

.atlas-overlay-container {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.atlas-overlay-container,
.atlas-overlay-panel {
  font-family: var(--atlas-font-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}


button { cursor: pointer; background: none; border: none; }
