$atlas-theme-light: (
  color-bg: #f7f8fb,
  color-surface: #ffffff,
  color-surface-2: #f2f4f8,

  color-text: #0f172a,
  color-text-muted: #475569,
  color-border: rgba(15, 23, 42, 0.15),

  color-primary: #46a8e5,
  color-primary-contrast: #ffffff,

  color-success: #16a34a,
  color-warning: #d97706,
  color-error: #dc2626,
  color-info: #2563eb
);

$atlas-theme-dark: (
  color-bg: #1c1c1eff,
  color-surface: #1f1f1fff,
  color-surface-2: #33333399,

  color-text: rgba(229, 231, 235, 1),
  color-text-muted: #9ca3af,
  color-border: rgba(255, 255, 255, 0.15),

  color-primary: #3a8eed,
  color-primary-contrast: #ffffff,

  color-success: #34d399,
  color-warning: #fbbf24,
  color-error: #f87171,
  color-info: #60a5fa,
);
